body {
  background: linear-gradient(to right, rgb(133, 12, 12),rgb(22, 22, 160), black);
  margin: 0;
  padding: 0;

    margin-bottom: 60px; /* Adjust the margin to leave space for the footer */
 
}

.parent {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  overflow: hidden;
  bottom: 100;
}



.card {
  width: 28rem;

  background-color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  bottom: 100;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-image img {
  transform: scale(1.1);
}

.card-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  
}

.card:hover .card-details {
  transform: translateY(0);
}
/* Add your global styles here */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; /* Add padding as needed */
}

.showroom-description {
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Set your desired text color */
}


