<body>
  <div class="container">
    <div class="card">
      <p class="showroom-description">{{ showroomDescription }}</p>
    </div>
  </div>

  <div class="parent">
    <div class="card" style="width: 18rem;">
      <div class="card-image">
        <img [src]="bmwimage" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <p class="card-text">{{ BMWDescription }}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-image">
        <img [src]="Audiimage" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <p class="card-text">{{ AudiDescription }}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-image">
        <img [src]="Porscheimage" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <p class="card-text">{{ PorscheDescription }}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-image">
        <img [src]="maseratiImage" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <p class="card-text">{{ maseratiDescription }}</p>
      </div>
    </div>
  </div>
</body>

