<div class="parent">
  <div class="login-card">
    <h6 class="login-header">Log In To Feel The Luxury</h6>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required>
      </div>

      <button type="submit" class="nav-button">Login</button>
      <button class="nav-button" (click)="navigateToRegister()">Register</button>
    </form>
  </div>
</div>
